<div class="col-lg-8 col-lg-offset-2"> 
    <div class="jumbotron">
        <h1>Bienvenido a MUSIFY</h1>
        <p>Empieza a escuchar a tus artistas favoritos y descubre nuevos hits</p>
        
        <!--
        <componente-hijo [propiedad_uno]="dato_externo" 
                         [propiedad_dos]="identity.web"
        ></componente-hijo>
        
        <input-number [valueNumber]="dato_number">
        </input-number>
        -->
        
        <p>
            <a class="btn btn-primary btn-lg" [routerLink]="['/artistas',1]" role="button">Ver artistas</a>
        </p>
    </div>
</div>
